<div class="container-fluid">
  <div class="flex-nowrap">
    <div class="col col-md-3 mx-auto p-5 bg-secondary" style="background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);; border-radius: 25px;">
      <h2 class='d-flex justify-content-center'>
        <%= link_to("Log in", "#", {class: 'text-decoration-none text-reset'}) %>
      </h2>
      <div class='d-flex justify-content-center'>        
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-outline mb-4">
          <%= f.label :email, class: 'form-label' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="field form-outline mb-4">
          <%= f.label :password, class: 'form-label' %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? %>
        <div class="row mb-4">
          <div>
            <!-- Checkbox -->
            <div class="form-check">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              <%= f.label :remember_me, class: "form-check-label" %>
            </div>
          </div>
          <br />
          <div>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password? Click here", new_password_path(resource_name), {class: 'text-reset'} %><br />
            <% end %>
          </div>
        </div>
        
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-success btn-block w-100" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
