<div id="<%= dom_id article %>" class="d-block article-card" onclick="location.href='<%= article_path(article) %>'">
  <h3 class="text-truncate">
    <%= article.title %>
  </h3>

  <p>
    Posted <%= time_tag localized_creation_time(article) %>
  </p>

  <p>
    <strong><%= pluralize article.comments.count, "comment" %></strong>
  </p>

  <p class="text-truncate d-block">
    <strong>Content:</strong>
    <%= article.content %>
  </p>
</div>
