<div class="container-fluid">
  <div class="flex-nowrap">
    <div class="col col-md-3 mx-auto p-5 bg-secondary" style="background: gray; border-radius: 25px;">
      <h2 class='d-flex justify-content-center'>
        <%= link_to("Log in", new_user_session_path, {class: 'text-decoration-none'}) %>
        &nbsp; | &nbsp;
        <%= link_to("Register", "#", {class: 'text-reset'}) %>
      </h2>
      <div class='d-flex justify-content-center'>   
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field form-outline mb-4">
          <%= f.label :name, class: 'form-label' %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
        </div>

        <div class="field form-outline mb-4">
          <%= f.label :email, class: 'form-label' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="field form-outline mb-4">
          <%= f.label :password, class: 'form-label' %><br />
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
        </div>
        
        <div class="field form-outline mb-4">
          <%= f.label :password_confirmation, class: 'form-label' %><br />

          <%= f.password_field :password_confirmation, autocomplete: "password-confirmation", class: 'form-control' %>
        </div>
        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-primary btn-block w-100" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
